.form-label {
  color: #040b0d !important;
  margin-bottom: 10px !important;
  display: block !important;
  font-size: 18px !important;
}

.inp {
  /* margin-bottom: 20px!important; */
  border: 1px solid hsl(0, 2%, 18%) !important;
  border-radius: 4.9px;
  height: 45.44px;
}
.downloadinp {
  border: 1px solid hsl(0, 2%, 18%) !important;
  border-radius: 4.9px;
  height: 45.44px;
  width: 400px;
  margin-top: 10px;
}

TextField {
  border: 1px solid rgb(47, 45, 45) !important;
}
.btn {
  background-color: transparent !important;
  border: 1px solid rgb(24, 18, 18) !important;
  /* border-radius: 0%; */
  padding: 12px;
}
.btn:hover {
  background-color: transparent !important;
  border: "none" !important;
}

.upload-button {
  background-color: #126fb3 !important;
  color: white !important;
  padding: 10px 20px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  display: inline-block !important;
}

.photo-preview {
  margin-top: 10px !important;
  max-width: 100px !important;
  max-height: 150px !important;
  border-radius: 4px !important;
}
.heading {
  font-size: 24px;
  color: red;
}
.css-vuuwxc {
  width: 0px;
  height: 100%;
  min-height: 100vh;
  opacity: 1;
  background: default;
  color: #344767;
  border-radius: none;
  box-shadow: none;
  overflow-x: hidden;
}

.upload-container {
  position: relative;
  width: 190px;
  height: 200px;
  border: 2px dashed #127168;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f5f5f5;
  cursor: pointer;
}

.upload-placeholder {
  text-align: center;
  color: #127168;
  font-size: 18px;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover; /*Ensures the image covers the div without stretching */
  cursor: pointer;
}

.form-error {
  color: red;
  font-size: 12px;
  margin-top: 8px;
}
.image-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensures the image covers the div without stretching */
}
.icon {
  color: #127168 !important;
  font-size: 30px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
